<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fudgefx_db.Properties.Settings.fudgeConnectionString"
            connectionString="Data Source=163.118.202.41,81;Initial Catalog=fudge;Persist Security Info=True;User ID=epanero;Password=polo16v"
            providerName="System.Data.SqlClient" />
        <add name="Fudge.Framework.Database.Properties.Settings.fudgeConnectionString"
            connectionString="Data Source=163.118.202.41,81;Initial Catalog=fudge;Persist Security Info=True;User ID=epanero;Password=polo16v"
            providerName="System.Data.SqlClient" />
        <add name="Fudge.Framework.Database.Properties.Settings.fudgeConnectionString1"
            connectionString="Data Source=163.118.202.41,81;Initial Catalog=fudge;Persist Security Info=True;User ID=webuser;Password=webpassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>