/* Friends List Styles */
.friends_list .table
{
	width: 350px;
	margin-top: 10px;
	border-collapse: collapse;
}

.friends_list .table th
{
	background-color: #F5F5F5;
	text-align: left;
	padding-left: 3px;
	border-top: 1px solid #CCC;
}

.friends_list .table td
{
	width: auto;
	padding-right: 5px;
}

/* MiniProfile.ascx */

.mini_profile table
{
	margin-left: 10%;
	margin-top: 10px;
	border: 1px solid #CCC;
	border-collapse: collapse;
}

.mini_profile table tr td
{
	border-top: 1px solid #F5F5F5;
	padding-left: 4px;
}

.mini_profile table tr th
{
	background-color: #F5F5F5;
	border-bottom: 1px solid #CCCCCC;
}

.mini_profile table tr th img
{
	vertical-align: middle;
}

.mini_profile .links
{
	display: block;
	width: 150px;
}

.mini_profile .links a, .span
{
	padding: 0px 3px 2px 3px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
	text-align: left;
}

.mini_profile .links a:hover
{
	padding: 0px 3px 2px 3px;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
	color: white;
	background-color: #CCCCCC;
	text-align: left;
}

.mini_profile .thin_table
{
	width:580px;
	height:100px;
}

.mini_profile .wide_profile
{
	width:580px;
	height:100px;
}

.mini_profile .top_header
{
	background-color: #F5F5F5; 
	text-align: left; 
	padding: 3px; 	
}

.mini_profile .picture 
{
	width: 100px; 
	height: 100px; 
	text-align: center;
}

.mini_profile .container .title 
{
	width: auto; 
	padding-right: 5px;
}

.mini_profile .popup_style
{
	display: none; 
	width: 200px; 
	background-color: White;
	border-width: 2px; 
	border-color: Black; 
	border-style: solid; 
	padding: 20px;
}

.mini_profile .infomation_panel 
{
	width: auto;
}


/* Collapsible Menu */

.collapsible_menu
{
}

.collapsible_menu .header
{
	background-color: #F5F5F5;
	border-top: 1px solid #CCC;
	padding: 3px;
}

/* Rating Control */

.rating .ratingStar
{
	font-size: 0pt;
	width: 13px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
}

.rating .filledRatingStar
{
	background-image: url(../images/FilledStar.png);
}

.rating .emptyRatingStar
{
	background-image: url(../images/EmptyStar.png);
}

.rating .savedRatingStar
{
	background-image: url(../images/SavedStar.png);
}

/* */
.fudge_modal_popup
{
	display: none;
	width: 200px;
	background-color: White;
	border: 2px black solid;
	padding: 20px;
}


/* Problem statement View */

.problem_statement .title
{
	font-size: 20px;
}

.problem_statement .problem-desc
{
	font-size: 13px;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}
.problem_statement .testcases th
{
	font-family: Consolas;
	text-align: left;
	padding: 5px;
}
.problem_statement .testcases td
{
	font-family: Consolas;
	text-align: left;
	padding: 5px;
}
.problem_statement .testcases
{
	margin-top: 10px;
}


/*codeview*/

.codeView pre 
{
	font-size:13px;
	font-family:Consolas;	
}